(active_datas:(active_stage_id:1,active_stage_name:"Map001",teleport_stage:1,teleport_position:(x:-50.0,y:-100.0),closest_interact_entity_type:r#None,talking_npc:None,talk_index:None),in_world_time:(hour:12,minute:11))